/* Choose your site's color pallete and store as variables */

:root {
    --secondary-color: #412234;
    --main-text: #FDF0D5;
    --main-contrast: #FFC857;
    --main-color: #2E4052;
    --secondary-contrast: #BDD9BF;
	/* --add-your-own: ;
	--add-your-own: ;
	--add-your-own: ; */
	--padding-leftright: 6em 14em;

	/* BLACK */
	--raisin-black: #272727;
	--jet: #333533;
	--onyx: #3C3C3B;
	--rich-black-fogra39: #0D0A0B;

	/* WHITE */
	--cultured: #EFF1F3;
	--ivory: #E8EDDF;
	--beige: #EBEBD3;
	--magnolia: #F3EFF5;
	--nyanza: #E4FDE1;

	/* GRAY */
	--charcoal: #454955;
	--silver-sand: #C1BFB5;

	/* BLUE */
	--blue-munsell: #009FB7;
	--charcoal-blue: #2E4052;
	--cobalt-blue: #1446A0;
	--steel-teal: #55828B;
	--deep-space-sparkle: #3B6064;
	--green-sheen: #68B0AB;
	--cambridge-blue: #8FC0A9;
	--steel-blue: #427AA1;
	--han-purple: #6320EE;
	--medium-slate-blue: #8075FF;
	--space-cadet: #222E50;
	--teal-blue: #007991;

	/* YELLOW */
	--orange-yellow-crayola: #FED766;
	--maize-crayola: #F5CB5C;
	--naples-yellow: #F5D547;
	--flax: #E9D985;

	/* RED */
	--red-pigment: #FF0022;
	--rusty-red: #DE3C4B;
	--razzmatazz: #DB3069;
	--wine: #6B2737;
	--fiery-rose: #F45B69;
	--flame: #EB4511;
	--chinese-red: #B02E0C;
	--flicker-pink: #F92A82;
	--tart-orange: #FF4B3E;
	--persian-rose: #FF37A6;

	/* ORANGE */

	--cadmium-orange: #F28F3B;

	/* GREEN */
	--green-ryb: #72B01D;
	--sap-green: #3F7D20;
	--jade: #26A96C;
	--amazon-green: #4A7C59;
	--acid-green: #A5BE00;
	--maximum-green: #679436;
	--kelly-green: #43B929;
	--ash-gray: #CAD5CA;

	/* PADDING */
	--main-padding-fullscreen: 6em 14em;
	--main-padding-tablet: 4em 10em;
	--main-padding-tablet-2: 2em 6em;
	--main-padding-mobile: 1em;

	/* TEXT */
	/* --h1-font-size: 3em;
	--h2-font-size: 2.6em;
	--h3-font-size: 2.2em;
	--h4-font-size: 1.8em;
	--para-font-size: 1.6em;
	--para-font-size-2: 1.4em; */
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    min-height: 100%;
	background: var(--main-color);
}

/* ------- NAVBAR -------- */

.navigation {
    background: var(--main-color);
    color: var(--main-text);
    height: 5em;
    display: flex;
    justify-content: space-between;
    padding-left: 14rem;
    padding-right: 14rem;
}

.logo {
    display: flex;
    align-items: center;
	font-size: 1.4em;
}

.logo a {
    text-decoration: none;
    color: var(--main-text);
}

.logo a:hover {
    color: var(--main-contrast);
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.navigation-list-item a {
    text-decoration: none;
    color: var(--main-text);
}

.navigation-list-item a:hover {
    color: var(--main-contrast);
}

.navigation-list-item-contact {
    background: var(--main-contrast);
    padding: 0.3rem;
}

.navigation-list-item-contact a {
    text-decoration: none;
    color: var(--main-color);
}

.navigation-list-item-contact a:hover {
    text-decoration: underline;
}

/* .hamburger {
	display: none;
} */

.hamburger-lines {
	height: 3px;
	width: 24px;
	background-color: var(--main-contrast);
	border-radius: 10px;
}

/* .slide-in-menu {
	display: none;
} */

.hamburger {
	display: none;
    position: relative;
    z-index: 1001; /* Higher than slide-in-menu */
}

.slide-in-menu {
	display: none;
    position: fixed;
    top: 0;
    left: -110%;
    width: 100vw;
    height: 100vh;
    background: var(--main-color);
    display: flex;
	flex-direction: column;
	gap: 2em;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-in-out;
    z-index: 1000; /* Lower than .hamburger */
}

.slide-in-menu ul {
    padding: 0;
    list-style-type: none;
	font-size: 1.4em;
	text-align: center;
}

.slide-in-menu .logo a {
	font-size: 1.8em;
}

.slide-in-menu-item {
	padding: 0.4em;
}

.slide-in-menu a {
	text-decoration: none;
	color: var(--main-text);
}

.slide-in-menu-items a:hover {
	color: var(--main-contrast);
}


/* ---------- HERO SECTION ---------- */

.hero-image1 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero2.jpg);
	height: 80vh;
}

.hero-image2 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header1.jpg);
	height: 38vh;
}

.hero-image3 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header2.jpg);
	height: 38vh;
}

.hero-image4 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header3.jpg);
	height: 38vh;
}

.hero-image5 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header4.jpg);
	height: 38vh;
}

.hero {
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 2.4rem;	
}

.hero-text-container {
	text-align: center;
	position: center center;
}

.hero-text-container h1, p {
	color: var(--main-text);
}

.hero-text-container h1 {
	font-size: 2.4rem;
}

.hero-text-container button:hover {
	background: var(--secondary-contrast);
}

.hero-text-container p {
	font-size: 1.4rem;
}

.hero-button {
	border: none;
	height: 2rem;
	background: var(--main-contrast);
	font-size: 1rem;
	width: 8em;
	margin: 0 0.5em;
}

.hero-button a {
	text-decoration: none;
	color: var(--main-color);
}

.hero-button a:hover {
	text-decoration: underline;
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header1.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 58vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-text-container {
	text-align: center;
	position: center center;
}

.header-text-container h1 {
	color: var(--main-text);
	font-size: 2.4rem;
}

/* -------FOOTER-------- */

footer {
    background: var(--main-color);
	/* border-top: 2px solid var(--main-contrast); */
	line-height: 2em;
}

.footer-container{
    padding: 2rem 14rem 2rem 14rem;
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
}

.footer-title {
	color: var(--main-contrast);
}

.footer-copyright {
    font-size: 0.8rem;
    color: main-text;
    padding: 1rem;
    /* border-top: 2px solid var(--main-contrast); */
    text-align: center;
}

.footer-contact-list {
    list-style-type: none;
    padding: 0;
}

.footer-contact-list-link a {
    text-decoration: none;
    color: var(--main-text);
}

.footer-contact-list-link a:hover {
    color: var(--main-contrast);
}

.footer-list-nav-item a {
    text-decoration: none;
    color: var(--main-text);
}

.footer-list-nav-item a:hover {
    color: var(--main-contrast);    
}

/* -------CONTACT FORM------ */

.contact-main-container {
	background: var(--main-color);
	/* border-top: 2px solid var(--main-contrast); */
	padding: 5em 0;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
	border: 2px solid var(--main-contrast);
	background: var(--main-color);
}

.contact-form-container h2 {
	color: var(--main-contrast);
	text-align: center;
	padding-bottom: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
	color: var(--main-text);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    width: 150px;
    font-weight: bold;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.contact-submit {
    background-color: var(--main-contrast);
    color: var(--main-color);
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--main-text);
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}


/* -------MEDIA QUERIES------ */

@media (max-width: 1000px) {

	/* ------NAVIGATION------ */
	.navigation {
		padding-left: 6em;
		padding-right: 6em;
	}

    .hamburger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
	}

	/* Hamburger Lines */
	.hamburger-lines {
		height: 3px;
		width: 24px;
		background-color: var(--main-contrast);
		border-radius: 10px;
		transition: all 0.3s ease-in-out;
	}

	.navigation-list {
		display: none;
	}

	/* ------HERO----- */
	/* currently empty */

	/* ------FOOTER-------- */

	.footer-container {
		padding: 2em 6em 2em 6em;
	}

}


@media (max-width: 600px) {
	.navigation {
		padding-left: 2em;
		padding-right: 2em;
	}

	.footer-container {
		padding: 2em;
		display: flex;
		flex-direction: column;
	}

	.contact-main-container {
		padding: 1em;
	}

	.contact-form-container {
		border: none;
	}

	.form-group {
		display: inline-block;
	}

	.footer-section {
		padding-bottom: 1em
	}
}
